<nav class="bg-gray-800" data-controller="nav">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= image_tag 'farkle-icon.png', class: "w-8 h-8" %>
        </div>
        <div class="hidden md:block">
          <div class="flex items-baseline ml-10 space-x-4">
            <%= link_to "Games", games_path, class: "nav-button #{current_page?(games_path) ? 'current' : nil}" %>
            <%= link_to "My Games", user_games_path, class: "nav-button #{current_page?(user_games_path) ? 'current' : nil}" %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center ml-4 md:ml-6">
          <div class="relative ml-3">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-white" %>
          </div>
        </div>
      </div>
      <div class="flex -mr-2 md:hidden">
        <button data-action="nav#toggle" class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-800 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <span class="sr-only">Open main menu</span>
          <svg data-nav-target="hamburger" class="block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg data-nav-target="x" class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div data-nav-target="mobileNav" class="hidden md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <%= link_to "Games", games_path, class: "nav-button #{current_page?(games_path) ? 'current' : nil}" %>
      <%= link_to "My Games", user_games_path, class: "nav-button #{current_page?(user_games_path) ? 'current' : nil}" %>
    </div>
    <div class="pt-4 pb-3 border-t border-gray-700">
      <div class="flex items-center px-5">
        <div class="ml-3">
          <div class="text-sm font-medium leading-none text-gray-400"><%= current_user.email %></div>
        </div>
      </div>
      <div class="px-2 mt-3 space-y-1">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "block px-3 py-2 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700" %>
      </div>
    </div>
  </div>
</nav>
