<%= form_with(model: game, html: { class: "space-y-2" }) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
  <%= form.text_field :title %>
  <%= form.label :winning_score, class: "block text-sm font-medium text-gray-700" %>
  <%= form.number_field :winning_score %>

  <div class="actions">
    <%= form.submit class: "button success" %>
  </div>
<% end %>
