<p id="notice"><%= notice %></p>

<% content_for :header do %>
  <%= @game.title %>
<% end %>

<h1 class="mb-6 text-3xl font-bold text-center md:text-5xl">
  Game to <%= number_with_delimiter(@game.winning_score) %>
</h1>

<%= turbo_stream_from @game %>

<%= turbo_frame_tag 'user_games' do %>
  <%= render 'game', game: @game %>
<% end %>
