<!DOCTYPE html>
<html>
  <head>
    <title>Farkle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'shared/navigation' %>

      <header class="bg-white shadow">
        <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight text-gray-900">
            <%= yield :header %>
          </h1>
        </div>
      </header>
    <% end %>

    <main>
      <div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
